.input-main-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-div{
    width: 80%;
    border-radius: 16px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.tracking{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: rgb(245,130,32);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.tracking-options{
    padding: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: color 0.3s; 
    margin: 15px;
}

.form-control-plaintext{
    padding: 10px !important;
    border-radius: 5px !important;
    background-color: rgb(245,245,244) !important;
    border-bottom: 2px solid rgb(245,130,32) !important;
    height: 70px;
}

.form-input{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,130,32) !important;
    color: white !important;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 70px;
    border-bottom: 3px solid gray !important;
    margin: 0px 15px 0px 10px;
    padding: 0px 25px 0px 15px !important;
}

.tracking-options.active, .tracking-options:hover {
    background-color: rgb(245,130,32);
    font-weight: bold; 
    color: white;
    border-radius: 10px;
}

@media screen and (max-width:750px) {
    .input-div{
        flex-wrap: wrap;
        height: auto;
    }

    .tracking{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        flex: 100%
    }

    .tracking-options{
        flex: 40%;
    }

    .form-input{
        margin: 20px;
        flex: 70%;
    }
    
}